{% macro icon(name='asset-song', path=false, class=false, screenreader_text=false) %}
    {# Explicitly default path to false in case null or undefined is passed in #}
    {% set path = path | default(false) %}

    {# A passed in 'path' variable will always be used #}
    {% if path == false %}
        {% if global_icon_svg_path != false %}
            {# If no value for path is passed in a global variable called 'global_icon_svg_path' is referenced #}
            {% set path = global_icon_svg_path %}
        {% else %}
            {# If no value for path is passed and no global variable is set, then this path is used by default #}
            {% set path = '/comet/comet_assets/comet.svg' %}
        {% endif %}
    {% endif %}

    <svg{% if class %} class="{{ class }}"{% endif %} aria-hidden="true" focusable="false">
        <use xlink:href="{{ path }}#{{name}}"></use>
    </svg>
    {% if screenreader_text %}<div class="comet-screenreader-only">{{screenreader_text}}</div>{% endif %}
{% endmacro %}
