{% macro card(
    item = {},
    element_type = "li",
    icon_path = false
) %}
        <{{ element_type }} class="comet-card{% if (item.class) %} {{item.class}}{% endif %}{% if (item.theme) %} comet-card--{{item.theme}}{% endif %}">
            <a href="{{ item.href }}" class="comet-card__card-anchor">

            <!-- Image / Icon -->

                {% set thumbnail_classes = "" %}
                {% if item.thumbnail_contain %}
                    {% set thumbnail_classes = thumbnail_classes + " comet-thumbnail--contain" %}
                {% endif %}
                {% if item.thumbnail_square %}
                    {% set thumbnail_classes = thumbnail_classes + " comet-thumbnail--squared" %}
                {% endif %}

                {{ thumbnail(
                    class = thumbnail_classes,
                    asset_type = item.asset_type,
                    img_url = item.img_url,
                    icon_path = icon_path
                )}}

            <!-- Copy -->

                <div class="comet-card__copy">
                    <span class="comet-card__type">{{ item.type }}</span>
                    <p class="comet-card__title">{{ item.title }}</p>

                    {% if item.caption %}
                    <p class="comet-card__caption">{{ item.caption }}</p>
                    {% endif %}

                    {% if item.duration %}
                    <p class="comet-card__duration comet-pill--overlay">{{ item.duration }}</p>
                    {% endif %}
                </div>
            </a>

            <!-- List Group -->

            {% set list_group_class = "comet-theme--dark-background" %}

            {% if item.theme == "white" or item.theme == "light" %}
                {% set list_group_class = "" %}
            {% endif %}


            {% if item.list_group_items %}
                {{ list_group(
                    rows = item.list_group_items,
                    class=list_group_class
                )}}
            {% endif %}

            <!-- Actions (icons, buttons) -->
            <!-- for later release -->

        </{{ element_type }}>
{% endmacro %}

{% macro cards(
	items = false,
    class = false,
    icon_path = false
) %}

	{% if items %}
    <ul class="comet-cards{% if (class) %} {{class}}{% endif %}">

    	{% for item in items %}
            {{ card(item=item, element_type='li', icon_path=icon_path) }}
        {% endfor %}

		<li class="comet-card comet-card--invisible"></li>
		<li class="comet-card comet-card--invisible"></li>
		<li class="comet-card comet-card--invisible"></li>

    </ul>
    {% endif %}

{% endmacro %}
