{% macro footer(
    env = false,
    icon_path = false
)%}
    {% call row(class="comet-footer") %}
        {% call grid_column() %}
            <ul class="comet-footer__link-list">
                <li class="comet-footer__link"><a href="https://app.{{env + "." if env }}discoveryeducation.com/static/apps/check-requirements/">Check Requirements</a></li>
                <li class="comet-footer__link"><a href="https://get.adobe.com/reader/">Download Acrobat Reader</a></li>
                <li class="comet-footer__link"><a href="http://www.{{env + "." if env }}discoveryeducation.com/aboutus/terms_of_use.cfm">Terms of Use</a></li>
                <li class="comet-footer__link"><a href="http://www.{{env + "."  if env }}discoveryeducation.com/aboutus/privacy-policy/us.cfm">Support</a></li>
                <li class="comet-footer__link"><a href="http://www.{{env + "."  if env }}discoveryeducation.com/contact-us/">Contact Us</a></li>
                <li class="comet-footer__link"><a href="http://www.{{env + "."  if env }}discoveryeducation.com/who-we-are/about-discovery-education.cfm">About Us</a></li>
                <li class="comet-footer__link"><a href="http://www.{{env + "."  if env }}discoveryeducation.com/closed-captioning/">Online Closed Captioning</a></li>
                <li class="comet-footer__link"><a href="#">Live Help Chat</a></li>
            </ul>
            <ul class="comet-footer__social-list">
                <li class="comet-footer__social-link"><a href="https://twitter.com/DiscoveryEd">{{ icon(name='twitter', class='comet-footer__social-icon', path=icon_path) }}<span class="comet-screenreader-only">Twitter</span></a></li>
                <li class="comet-footer__social-link"><a href="https://www.facebook.com/discoveryed">{{ icon(name='facebook', class='comet-footer__social-icon', path=icon_path) }}<span class="comet-screenreader-only">Facebook</span></a></li>
                <li class="comet-footer__social-link"><a href="https://www.youtube.com/user/DiscoveryEducation">{{ icon(name='youtube', class='comet-footer__social-icon', path=icon_path) }}<span class="comet-screenreader-only">YouTube</span></a></li>
            </ul>
            <div class="comet-footer__legal comet-long-form-text">
                <p>Copyright &copy; 2018 Discovery Education. All rights reserved. Discovery Education is a subsidiary of Discovery Communications, LLC.</p>
            </div>
        {% endcall %}
    {% endcall %}
{% endmacro %}
