// google fonts
//Playfair+Display
//$gurl: 'Work+Sans'
//$gfont: 'Work Sans'
//Rubik
//Cormorant
//Libre+Franklin
//Space+Mono
//Fira+Sans
//$gurl: 'Eczar'
//$gfont: 'Eczar'
//Alegreya+Sans
//Alegreya
//Chivo
//Lora
//Source+Sans Pro
//Source+Serif Pro
$gurl: 'Roboto';
$gfont: 'Roboto';
//Roboto+Slab
//Poppins
//BioRhyme
//Archivo+Narrow
//$gurl: 'Libre+Baskerville'
//$gfont: 'Libre Baskerville'
//Crimson+Text
//Karla
//Montserrat
//Old Standard TT
//Rajdhani
//$gurl: 'Domine'
//$gfont: 'Domine'
//Bitter
//Gentium Basic
//PT+Sans
//PT+Serif
//Lato
//Cardo
//Neuton
//Open Sans
//Inconsolata
//Cabin
//Raleway
//Anonymous Pro
//Arvo
//Merriweather


@import url('https://fonts.googleapis.com/css?family=#{$gurl}');
// fonts
$nxs-font-family: $gfont, Helvetica, sans-serif;
