{% macro grid_row(class='', row_inner_class='') %}
    <div class='comet-row{{ " " + class if class }}'>
        <div class='comet-row__inner-flex{{ " " + row_inner_class if row_inner_class }}'>
            {% if caller %}
                {{ caller() }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro grid_column(class='', contents='') %}
    <div class='comet-columns{{ " " + class if class }}'>
        {% if contents %}
            {{ contents | safe }}
        {% elif caller %}
            {{ caller() }}
        {% endif %}
    </div>
{% endmacro %}
