{% macro pill(
	label='Default Pill Label',
	class='',
	screenreader_only_label=false
	) %}
	<span class="comet-pill{{ " " + class if class }}">{% if screenreader_only_label %}<span class="comet-screenreader-only">{{ screenreader_only_label }} </span>{% endif %}{{ label }}</span>
{% endmacro %}

{% macro tag(
	label='Default Tag Label',
	class='',
	avatar=false,
	icon_path=false
	) %}
	<div class="comet-pill comet-tag{{ " comet-tag--avatar" if avatar }}{{ " " + class if class }}">
		{% if avatar %} <img src="{{ avatar }}" alt="" class="comet-tag__avatar"> {% endif %}
		<span class="comet-tag__content">{{ label }}</span>
		<button class="comet-tag__close-button">
			{{ icon(name='x', class="comet-tag__icon", path=icon_path) }}
		</button>
	</div>
{% endmacro %}