{% macro masthead(
            background_image=false, 
            title="Masthead Title", 
            description="A description about this page can go here. Even if it's a little long it'll be okay.", 
            cta_text="Get Started",
            cta_href=false,
            class=false) %}
    <div class="comet-masthead{{ ' ' + class if class }}" 
        {% if background_image %}
            style="background-image:url('{{ background_image }}');"
        {% endif %}
    >
        <div class="comet-masthead__content">
            <h1 class="comet-masthead__title">{{ title }}</h1>
            <p class="comet-masthead__description">{{ description }}</p>
            {{ button(text=cta_text, href=cta_href, el="a", variations=["ghost"], class="comet-masthead__cta comet-button--on-dark") }}
        </div>
    </div>
{% endmacro %}
