{% macro modal(
    header=false,
    content=false,
    modal_footer=true,
    directional=false,
    primary_cta_link=false,
    primary_cta_text=false,
    primary_cta_type="primary",
    cancel_cta_text=false,
    cancel_cta_type="ghost",
    class=false,
    id=false,
    wide=false,
    takeover=false
)%}

    {# -------------------------------------------- #}

	<div {{ "id=" + id if id }} class="comet-modal__inner{{ ' ' + class if class }}{{ ' comet-modal--directional' if directional }}{{ ' comet-modal--wide' if wide }}{{ ' comet-modal--takeover' if takeover }}">

        {% if header %}
    		<div class="comet-modal__header comet-long-form-text">
                <h3 class="comet-modal__header-content">{{header}}</h3>
            </div>
        {% endif %}

        <div class="comet-modal__content comet-long-form-text">
            {% if content %}
                <p>{{ content | safe }}</p>
            {% elif caller %}
                {{ caller() }}
            {% endif %}
        </div>

        {% if modal_footer %}
            <div class="comet-modal__footer">
                <div class="comet-modal__button-row">
                    {% if cancel_cta_text %}
                        {{ button(variations=[cancel_cta_type], text=cancel_cta_text, class="comet-modal__button comet-modal__button--cancel js-comet-modal__close-button") }}
                    {% endif %}
                    {% if primary_cta_link %}
                        {{ button(variations=[primary_cta_type], el="a", href=primary_cta_link, text=primary_cta_text, class="comet-modal__button") }}
                    {% else %}
                        {{ button(variations=[primary_cta_type], text=primary_cta_text, class="comet-modal__button") }}
                    {% endif %}
                </div>
            </div>
        {% endif %}

	</div>
{% endmacro %}