{% set list_group__sample_rows = [
	{
		label: "List Group Row 1 Sample Label",
		href: "#"
	},
	{
		label: "List Group Row 2 Sample Label",
		href: "#"
	},
	{
		label: "List Group Row 3 Sample Label",
		href: "#"
	}
] %}

{% macro list_group__actions(actions) %}
		<ul class="comet-list-group__actions">
			{% for action in actions %}
			<li class="comet-list-group__action-item">

				{% if action.icon_name %}
				<a href="{{ action.href }}" title="{{ action.label }}" class="comet-list-group__action">
					{{ icon(name=action.icon_name, class='comet-list-group__action-icon', path=action.icon_path) }}
				</a>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
{% endmacro %}

{% macro list_group__row(
	row = {},
	actions = false,
	icon_path =false
) %}

	{# Override group actions with row actions #}
	{% if row.actions %}
		{% set actions = row.actions %}
	{% endif %}

	<li class="comet-list-group__row{{ ' comet-list-group__row--selected' if row.selected }}{{ ' ' + row.class if row.class }}"{% if row.selected %}aria-label="selected"{% endif %}>
		<a class="comet-list-group__row-anchor" href="{{ row.href }}">

			{% if row.reorderable %}
			<span class="comet-list-group__row-reorder-handle">
				{{ icon(name='grip', class='comet-list-group__row-reorder-handle-icon', path=icon_path) }}
			</span>
			{% endif %}

			{% if row.type_icon %}
			{{ icon(name=row.type_icon, class='comet-list-group__row-type-icon', path=row.type_icon_path) }}
			{% endif %}

			{% if row.avatar %}
			<img src="{{ row.avatar }}" alt="{{ row.label }}" class="comet-list-group__avatar">
			{% endif %}

			{% if row.status %}
			<span class="comet-list-group__row-status comet-list-group__row-status--{{ row.status }}" title="{{ row.status }}"></span>
			{% endif %}

			{% if row.label %}
				<span class="comet-list-group__row-label">
					{{ row.label }}
				</span>
			{% endif %}

			{% if row.metadata %}
			<span class="comet-list-group__row-metadata">
			{{ row.metadata }}
			</span>
			{% endif %}

			{% if row.badge %}
			<span class="comet-list-group__row-badge">
			{{ row.badge }}
			</span>
			{% endif %}

		</a>

		{{ list_group__actions(actions) if (actions != false) }}

	</li>
{% endmacro %}

{% macro list_group__subhead_row(row) %}
	<li class="comet-list-group__subhead-row">
		{{ row.label }}
	</li>
{% endmacro %}

{% macro list_group(
	actions = [],
	class = false,
	label = false,
	label_count = 0,
	row_by_row_actions = false,
	rows = list_group__sample_rows,
	icon_path=false
) %}

	<div class="comet-list-group{{ ' ' + class if class }}">

		{% if label %}
		<header class="comet-list-group__header">

			<h4 class="comet-list-group__label">
				{{ label }}
				{% if (label_count > 0) %}
					({{ label_count }})	
				{% endif %}
			</h4>

			{{ list_group__actions(actions) if (actions != false) }}

		</header>
		{% endif %}

		<ul class="comet-list-group__list">
		{% for individual_row in rows %}
			{% if individual_row.subheader %}
				{{ list_group__subhead_row(individual_row) }}
			{% else %}
				{{ list_group__row(row=individual_row, actions=row_by_row_actions, icon_path=icon_path) }}	
			{% endif %}
		{% endfor %}
		</ul>

	</div>

{% endmacro %}
