{% macro tabs(
            labels = ["Tab 1", "Tab 2"],
            name = "comet-tabs--name",
            type = "more",
            class = "") %}

    {% set class = class + " comet-tabs--" + type %}

    <div class="comet-tabs {{ class }}">
        {% if type == "horizontal-sliding" %}
            <div class="comet-tabs__horizontal-sliding-outer-wrap">
                <div class="comet-tabs__horizontal-sliding-indicator comet-tabs__horizontal-sliding-indicator--left">
                    {{ icon(class="comet-tabs__horizontal-sliding-icon", name="caret-left") }}
                </div>
                <div class="comet-tabs__horizontal-sliding-wrap">
        {% endif %}
        
        {% for label in labels %}
            {% if label.id %}
                {% set id = label.id %}
            {% else %}
                {% set id = "comet-tab-panel-id--" + label | lower | replace(' ', '-') | replace(r/[~!@\$%\^&\*\(\)\+=,\.\/\;:\?><\[\]\{}\|`#''""]/g, '') + "-" + name %}
            {% endif %}
            <label class="comet-tab__label" for="{{ id }}"><span class="comet-tab__label-text">{{ label }}</span></label>
        {% endfor %}

        {% if type == "horizontal-sliding" %}
                </div>
                <div class="comet-tabs__horizontal-sliding-indicator comet-tabs__horizontal-sliding-indicator--right">
                    {{ icon(class="comet-tabs__horizontal-sliding-icon", name="caret-right") }}
                </div>
            </div>
        {% endif %}

      {% if type == "more" %}
            {% set more_menu_labels = [] %}
            {% set more_menu_id = 'comet-more-menu-id--' + range(0, 100000) | random %}
            {% for label in labels %}
                {% if label.id %}
                    {% set id = label.id %}
                {% else %}
                    {% set id = "comet-tab-panel-id--" + label | lower | replace(' ', '-') | replace(r/[~!@\$%\^&\*\(\)\+=,\.\/\;:\?><\[\]\{}\|`#''""]/g, '') + "-" + name %}
                {% endif %}
                {% set more_menu_labels = (more_menu_labels.push({ "label": label, "href": "#" + id}), more_menu_labels) %}
            {% endfor %}

            <label class="comet-tab__label comet-tab__label--more comet-dropdown-trigger js-comet-dropdown-trigger" data-comet-popover="{{ more_menu_id }}" aria-hidden="true">
                <span class="comet-tab__label-text comet-tab__label-text--more">More</span>
                {{ icon(name="triangle-down", class="comet-tab__more-menu-icon") }}
                {{ dropdown_menu(class="comet-tabs__more-menu", id=more_menu_id, menu_items=more_menu_labels) }}
            </label>


      {% endif %} 
    </div>
{% endmacro %}

{% macro tab_panel(
            label = "Tab 1",
            name = "comet-tabs--name",
            id = false, 
            active = false) %}
    {% if id == false %}
        {% set id = "comet-tab-panel-id--" + label | lower | replace(' ', '-') | replace(r/[~!@\$%\^&\*\(\)\+=,\.\/\;:\?><\[\]\{}\|`#''""]/g, '') + "-" + name %}
    {% endif %}
    <input class="comet-tab__input" type="radio" id="{{ id }}" name="{{ name }}" value="{{ id }}" {{ 'checked' if active }}>
    <div class="comet-tab__panel">
        {{ caller() }}
    </div>
{% endmacro %}
