{% macro callout(
    type="",
    header=false,
    content=false,
    icon_path=false,
    icon_name=false,
    class=false,
    subject=false,
    icon_screenreader_text=false
)%}

	{# Concatenate the overall class for the callout #}
    {% set callout_class = "" %}
    {% set icons = {
        "misconception": "callout-misconception",
        "definition": "callout-glossary-term",
        "teacher-note": "callout-teacher-note",
        "focus-benchmark": "callout-state-standard",
        "did-you-know": "callout-did-you-know"
    } %}

    {% set callout_class = callout_class + "comet-callout--" + type + " " %}
    {% if type == "generic" or type == "generic-white" %}
        {% set icon_name = icon_name %}
    {% else %}
        {% set icon_name = icons[type] %}
    {% endif %}

    {% if subject %}
        {% set callout_class = callout_class + "comet-callout--" + subject + " " %}
    {% endif %}

    {% if class %}
        {% set callout_class = callout_class + class %}
    {% endif %}

    {# -------------------------------------------- #}

	<div class="comet-callout{{" " + callout_class | trim }}">
        {% if icon_name %}
            <div class="comet-callout__icon-box">
                {{ icon(name=icon_name, class="comet-callout__icon", path=icon_path, screenreader_text=icon_screenreader_text) }}
            </div>
        {% endif %}
	    <div class="comet-callout__content">
            {% if header %}
                <h3>{{header|safe}}</h3>
            {% endif %}
            <p>{{content|safe}}</p>
        </div>
	</div>
{% endmacro %}